{% extends 'base.html' %}
{% block content %}
<h2>Les courses clubs : </h2>
    <ul>
        {% if favorite_races %}
            {% for race in favorite_races %}
                <a href="{{ url_for('main.course', race_id=race['id']) }}">
                    <h2>{{ race['name'] }} {{ race.date }}</h2>
                </a>
                {% endfor %}
        {% else %}
            <li>Aucune course club pour le moment...</li>
        {% endif %}
</ul>
    <h1>{% block title %} Courses {% endblock %}</h1>
    {% for race in races %}
        <a href="{{ url_for('main.course', race_id=race['id']) }}">
            <h2>{{ race['name'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ race['date'] }}</span>
        <span class="badge badge-primary">{{ race['distance'] }}</span>
        <hr>
    {% endfor %}
{% endblock %} 
 
