{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ race['name'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ race['distance'] }}</span>
    <p>{{ race['distance'] }}</p>
<form action="{{ url_for('main.participe', id=race['id']) }}" method="POST">
    {% if race['distance'] %}
        <label for="distance">Choose a distance:</label>
        <select name="distance" id="distance" required>
            {% for distance in race['distance'].split(';') %}
                <option value="{{ distance }}">{{ distance }}</option>
            {% endfor %}
        </select>
    {% endif %}
    <button type="submit">Participer</button>
</form>
<h2>Participants for {{ race.name }}</h2>
<ul>
    {% if participants %}
        {% for participant in participants %}
            <li>
                {{ participant.prenom }} {{ participant.name }} ({{ participant.email }}) - 
                {% if participant.distance %}
                    Distance: {{ participant.distance }}
                {% else %}
                    No specified distance
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <li>No participants from your club.</li>
    {% endif %}
</ul>
<!-- Check if the user is an admin before showing the "Mark as Favorite" button -->
    <!-- Mark as Favorite Form (POST request to mark as favorite) -->
<form action="{{ url_for('main.mark_favorite', id=race['id']) }}" method="POST">
    <button type="submit">Mark as Favorite</button>
</form>
{% endblock %} 
