{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ race['name'] }} {% endblock %}</h2>
    <p>Les distances pour cette course : {{ race['distance'] }}</p>
{% if is_participating %}
<!-- Unparticipate Form -->
<form action="{{ url_for('main.unparticipate', id=race['id']) }}" method="POST">
    <button type="submit">Ne plus participer</button>
</form>
{% else %}
<!-- Participate Form -->
<form action="{{ url_for('main.participe', id=race['id']) }}" method="POST">
    {% if race['distance'] and race['distance'].strip() %}
        <label for="distance">Choisis une distance:</label>
        <select name="distance" required>
            {% for distance in race['distance'].split(';') %}
                <option value="{{ distance }}">{{ distance }}</option>
            {% endfor %}
        </select>
    {% else %}
        <!-- No distance to choose -->
        <input type="hidden" name="distance" value="NULL">
    {% endif %}
    <button type="submit">Participer</button>
</form>
{% endif %}
<h2>Participants pour {{ race.name }} : </h2>
<ul>
    {% if participants %}
        {% for participant in participants %}
            <li>
                {{ participant.prenom }} {{ participant.name }} ({{ participant.email }}) - 
                {% if participant.distance and participant.distance != "NULL" %} Distance: {{ participant.distance }}
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <li>Aucun participant de ton club.</li>
    {% endif %}
</ul>
    <!-- Mark as Favorite or Delete from Favorite Button -->
{% if is_admin == 1 %}
    {% if is_favorite %}
        <!-- Delete from Favorite Form -->
        <form action="{{ url_for('main.remove_favorite', id=race['id']) }}" method="POST">
            <button type="submit">Supprimer des courses club</button>
        </form>
    {% else %}
        <!-- Mark as Favorite Form -->
        <form action="{{ url_for('main.mark_favorite', id=race['id']) }}" method="POST">
            <button type="submit">Ajouter aux courses club</button>
        </form>
    {% endif %}
{% endif %}
{% endblock %} 
